* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    border-bottom: 1px solid rgb(196, 196, 196);
}

.logo {
    padding: 10px;
    align-items: center;
    display: flex;
}

.logo img {
    width: 100px;
    margin-right: 20px;
}

.logo a {
    font-size: 25px;
    color: rgb(95, 95, 95);
}

.link-list {
    display: flex;
    list-style-type: none;
    margin-left: 10px;
}

.link-list li {
    padding: 5px 10px;
}

.link-list li a {
    color:rgb(95, 95, 95);
    text-decoration: none;
    font-weight: bold;
}

.link-list li a:hover {
    color:rgb(0, 120, 218);
}

.container {
    width: 55%;
    display: flex;
    margin: 20px auto;
    flex-direction: column;
    align-items: center;
}

.container h1 {
    color:rgb(95, 95, 95);
}